@model BillGenerator.Models.Items

<tr id="@Model.ItemIndex">
    <td>@Model.ProductName</td>
    <td>@Model.Quantity</td>
    <td>@Model.Price</td>
    <td><button type="button" class="btn btn-sm bg-danger text-white">Remove</button></td>
</tr>