@model BillGenerator.Models.BillDetails

@{
    ViewBag.Title = "Create";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 offset-3 shadow rounded">
            @using (Html.BeginForm())
            {
                <div class="mt-2">
                    <h3 class="text-center">Create Bill</h3>
                </div>
                <div class="mb-3">
                    <lable class="form-label">Customer Name</lable>
                    @Html.TextBoxFor(modelItem => modelItem.CustomerName, new { @class = "form-control form-control-sm" })
                </div>
                <div class="mb-3">
                    <lable class="form-label">Mobile Number</lable>
                    @Html.TextBoxFor(modelItem => modelItem.MobileNumber, new { @class = "form-control form-control-sm" })
                </div>
                <div class="mb-3">
                    <lable class="form-label">Address</lable>
                    @Html.TextBoxFor(modelItem => modelItem.Address, new { @class = "form-control form-control-sm" })
                </div>

                <div class="mb-3">
                    <div>
                        <span class="h5">Items</span>
                        <button type="button" class="btn btn-sm btn-primary border float-end" data-bs-toggle="modal" data-bs-target="#modalbox">Add Item</button>
                    </div>
                    <table id="items" class="table table-striped table-responsive table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-sm btn-success">Save</button>

                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="modalbox" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">        
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Item</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Enter Item Name" id="itemname" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Quantity</label>
                    <input type="number" class="form-control form-control-sm" placeholder="Enter Quantity" id="qty" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input type="number" class="form-control form-control-sm" placeholder="Enter Price" id="price" />
                </div>

                <div class="mb-3">
                    <button class="btn btn-sm btn-success" type="button" id="additem">Add</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#additem').click(function () {
            let productName = $('#itemname').val();
            let price = $('#price').val();
            let qty = $('#qty').val();
            let ItemIndex = $('#items tbody tr').length;
            $.ajax({
                url: "/BillGenerator/CreateItem",
                type: "POST",
                data: { productName, price, qty, ItemIndex },
                success: function (resp) {
                    $('#items tbody').append(resp);
                    $('#itemname').val("");
                    $('#price').val("");
                    $('#qty').val("");
                },
                error: function (err) {
                    alert(err);
                }
            })
        })
    })
</script>